@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.25rem;
    max-width: 400px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .modal-header h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .modal-close {
    cursor: pointer;
  }
  
  .modal-body {
    margin-bottom: 1rem;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }

  
  .ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }


  .leaderboard {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .leaderboard-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .leaderboard-list {
    list-style-type: none;
    padding: 0;
  }
  
  .leaderboard-entry {
    font-size: 18px;
    padding: 8px 0;
    text-align: center;
    border-bottom: 1px solid #cccccc;
  }
  
  .leaderboard-entry:last-child {
    border-bottom: none;
  }
